body {
    font-family: "Satoshi" "Clash Sisplay" sans-serif;
    margin: 0;
}
.container {
    max-width: 1240px;
    margin: 0 auto;
}
.header__logo {
    display: flex;
    justify-content: space-between;
}
.header__logo-title {
    color: #22202e;
    font-family: "Clash Display";
    font-size: 24px;
    font-weight: 400;
}
.header__nav {
    display: flex;
    justify-content: center;
    gap: 44px;
    padding: 40px 0 0 0;
}
.header__nav-link {
    text-decoration: none;
    color: #726e8d;
    font-family: "Satoshi";
    font-size: 16px;
    font-weight: 400;
}
.design {
    padding: 80px 0 0 0;
}
.hero {
    background: var(--Dark-Primary, #2a254b);
}
.design-content {
    display: flex;
    justify-content: space-between;
}
.design__info-img {
    max-width: 520px;
    height: 584px;
}
.design__info-img img {
    width: 100%;
    height: 100%;
}
.design__info {
    padding: 60px 0 0 60px;
}
.design__info-title {
    color: var(--White, #fff);
    font-family: "Clash Display";
    font-size: 32px;
    font-weight: 400;
    line-height: 140%;
}
.design__info-btn {
    color: var(--White, #fff);
    font-family: "Satoshi";
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    display: flex;
    padding: 16px 32px;
    align-items: flex-start;
    gap: 10px;
    background: rgba(249, 249, 249, 0.15);
    border: none;
}

.design__info-text {
    padding: 196px 98px 0 0;
}
.design__info-text {
    color: var(--White, #fff);
    font-family: "Satoshi";
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
}
.brand__header {
    padding: 120px 0 0 0;
}

.brand__header-title {
    display: flex;
    justify-content: center;
}

.brand__blocks {
    display: flex;
    justify-content: space-between;
    padding: 51px 0 0 0;
}
.brand__block-title {
    color: var(--Dark-Primary, #2a254b);
    font-family: "Clash Display";
    font-size: 20px;
    font-weight: 400;
    line-height: 140%;
}
.brand__header__pre-title {
    color: var(--Dark-Primary, #2a254b);
    font-family: "Clash Display";
    font-size: 24px;
    font-weight: 400;
    line-height: 140%;
}
.brand__block-text {
    color: var(--Dark-Primary, #2a254b);
    font-family: "Satoshi";
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
}
.new__page__header {
    padding: 80px 0 0 0;
}

.new__page__header-title {
    color: #2a254b;
    font-family: "Clash Display";
    font-size: 32px;
    font-weight: 400;
}

.new__page__blocks {
    display: flex;
    gap: 20px;
    padding: 33px 0 0 0;
}
.new__page__block img {
    width: 100%;
    height: 100%;
}
.new__page__block {
    max-width: 305px;
    height: 462px;
}
.new__page__block-title {
    color: var(--Dark-Primary, #2a254b);
    font-family: "Clash Display";
    font-size: 20px;
    font-weight: 400;
    line-height: 140%;
}
.new__page__block-price {
    color: var(--Dark-Primary, #2a254b);
    font-family: "Satoshi";
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
}
.new__page-btn1 {
    color: #2a254b;
    font-family: "Satoshi";
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    padding: 16px 32px 16px 32px;
    border: none;
    background: none;
}
.new__page-btn {
    display: flex;
    justify-content: center;
    padding: 150px 0 0 0;
}
.products__page {
    padding: 80px 0 0 0;
}
.products__page__header-title {
    color: #2a254b;
    font-family: "Clash Display";
    font-size: 32px;
    font-weight: 400;
    line-height: 140%;
}
.products__page__blocks {
    display: flex;
    gap: 20px;
    padding: 33px 0 0 0;
}
.products__page__block {
    max-width: 305px;
    height: 462px;
}
.products__page__block-large {
    max-width: 630px;
    height: 462px;
}
.products__page__block img {
    width: 100%;
    height: 375px;
}
.products__page__block-title {
    color: var(--Dark-Primary, #2a254b);
    font-family: "Clash Display";
    font-size: 20px;
    font-weight: 400;
    line-height: 140%;
}
.products__page__block-price {
    color: var(--Dark-Primary, #2a254b);
    font-family: "Satoshi";
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
}
.products__page-btn1 {
    color: #2a254b;
    font-family: "Satoshi";
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    padding: 16px 32px 16px 32px;
    border: none;
    background: none;
}
.products__page-btn {
    display: flex;
    justify-content: center;
    padding: 52px 0 0 0;
}
